.edit-user{
    text-decoration: none;
    color: white;
    font-weight: normal;
    cursor: pointer;
}

.edit-user:hover{
    color: #ccc;
    transition: all .2s;
}

.container{
    background: white;
    min-height: 100vh; 
    min-width: 100%;
}

.profile-section{
    background-color: #111;
    border-right: 2.5px solid grey;
}

.profile-section img{
    box-shadow: 3.5px 3.5px 5px 5px rgb(59, 59, 59, 0.35);
}

.card-profile-info{
    background-color: #111;
    color: white;
}

.card-profile-info .col{
    margin-top: 1.2rem;
    color: red;
}
